@font-face {
  font-family: AvenirNextLTPro-Regular;
  src: url(../assets/fonts/AvenirNextLTPro-Regular.otf);
}
@font-face {
  font-family: AvenirNextLTPro-Bold;
  src: url(../assets/fonts/AvenirNextLTPro-Bold.otf);
}
@font-face {
  font-family: AvenirNextLTPro-Demi;
  src: url(../assets/fonts/AvenirNextLTPro-Demi.otf);
}
body {
  margin: 0;
  padding: 0;
  font-family: AvenirNextLTPro-Regular;
  width: 100vw;
}

.navbar {
  background-color: #323232;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
.navbar__header {
  width: 15rem;
  padding: 2rem 0 0 0;
}
.navbar__buttons {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}
.navbar__button {
  background-color: #323232;
  color: #ffffff;
  border: none;
  font-size: 1.5rem;
  width: 50%;
  padding: 1.5rem 0;
}
.navbar__button--special {
  border-bottom: 7px solid #ffffff;
}

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../assets/images/hero-bio.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 45vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.hero__header {
  color: #ffffff;
  font-size: 4rem;
  margin: 1rem;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .hero {
    height: 100vh;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    height: 100vh;
  }
}

.bio {
  margin: 1rem;
}
.bio__header {
  font-size: 3.5rem;
  font-family: AvenirNextLTPro-Demi;
  color: #323232;
  font-weight: 100;
  margin: 1rem;
  margin-bottom: 0;
  padding-top: 2rem;
}
.bio__img {
  width: 90vw;
  height: 38vh;
  margin: 1rem;
  margin-bottom: 0;
}
.bio__quote, .bio__miniHeader, .bio__ref {
  font-size: 2rem;
  font-family: AvenirNextLTPro-Demi;
  font-weight: 600;
  margin: 1rem;
  margin-bottom: 0;
  padding-top: 2rem;
  line-height: 3.5rem;
  color: #323232;
}
.bio__ref {
  padding-top: 0;
}
.bio__miniHeader {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}
.bio__content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.bio__content--modifier {
  font-size: 2rem;
  margin: 1rem 3.5rem 2rem 1rem;
  line-height: 2.4rem;
}

.gallery {
  background-color: #fafafa;
}
.gallery__header {
  font-size: 3rem;
  margin: 2rem;
  margin-bottom: 0;
  padding-top: 2rem;
}
.gallery__images {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.gallery__images--img {
  background-size: cover;
  background-position: center;
  margin: 2rem;
  margin-bottom: 0;
  width: 90vw;
}

footer {
  background-color: #323232;
  color: #ffffff;
  padding: 1rem;
  margin-top: 2rem;
}

.footer-navbar {
  width: 22rem;
}
.footer-navbar__header {
  font-size: 3.5rem;
  margin-left: 1rem;
}
.footer-navbar__icons {
  width: 18rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 2em;
  margin-bottom: 5rem;
}
.footer-navbar__icons--modifier {
  width: 3.5rem;
  height: 3.5em;
  margin-left: 1rem;
}

.footer__infoContent {
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
}
.footer__infoContent--agent--Name h2 {
  font-size: 2rem;
  font-family: AvenirNextLTPro-regular;
  font-weight: 600;
  padding: 0;
  margin: 0;
  line-height: 2.4rem;
}
.footer__infoContent--agent--location p, .footer__infoContent--agent--email {
  font-size: 2rem;
  font-family: AvenirNextLTPro-regular;
  font-weight: 200;
  padding: 0;
  margin: 0;
}
.footer__infoContent--agent--Name, .footer__infoContent--agent--location, .footer__infoContent--agent--email {
  margin-bottom: 3rem;
  margin-left: 1rem;
}

.footerlogo__img {
  width: 18rem;
  margin: 0;
  margin-bottom: 2rem;
  margin-left: 1rem;
}

.footer__bottom--text {
  font-size: 1.5rem;
  font-family: AvenirNextLTPro-regular;
  font-weight: 200;
  padding: 0;
  margin-bottom: 2rem;
  margin-left: 1rem;
}/*# sourceMappingURL=bio.css.map */